* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 0.9rem;
  background: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 350px;
}

.container {
  padding: 20px;
  padding-top: 105px;
}

.app-header {
  background: #3AC16A;
  box-shadow: 0 2px 4px #c4c4c4;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 100;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
}

.inline-b {
  display: inline-block;
}

.loading {
  width: 64px;
  height: 64px;
  position: relative;
  margin: 20px auto;
  background-image: url('../images/loader.gif');
}

.error {
  position: fixed;
  top: 90px;
  width: 100%;
  z-index: 90;
  text-align: center;
  padding: 5px 10px;
  background: #ad3333;
  color: #fff;
  font-size: 1rem;
}

.error img {
  float: right;
  margin-top: -5px;
}

.date-nav-bar {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 95;
  display: flex;
  justify-content: space-evenly;
  background: #3AC16A;
}

.date-nav-bar-btn {
  width: 20%;
  color: #fff;
  border: none;
  text-align: center;
  background: none;
  padding: 10px 0;
  cursor: pointer;
  outline:none ;
  box-shadow: 0 1px 3px #c4c4c4;
}

.current-day-btn {
  border-bottom: 5px solid #969121;
  box-shadow: inset 0px -15px 8px rgba(0, 0, 0, 0.25);
}
