* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 0.9rem;
  background: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 370px;
}

.container {
  padding: 20px 20px 0;
  padding-top: 110px;
}

.app-header {
  background: #3AC16A;
  box-shadow: 0 2px 4px #c4c4c4;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 100;
  padding: 15px;
  font-size: 1.2rem;
  color: #fff;
}
.current-date {
  font-size: 0.8rem;
  padding: 5px 7px;
  background: rgba(66, 65, 65, 0.3);
  border-radius: 25px;
}

.inline-b {
  display: inline-block;
}

.loading {
  width: 64px;
  height: 64px;
  position: relative;
  margin: 20px auto;
  background-image: url('../images/loader.gif');
}

.error {
  position: fixed;
  top: 95px;
  width: 100%;
  z-index: 90;
  text-align: center;
  padding: 5px 10px;
  background: #ad3333;
  color: #fff;
  font-size: 1rem;
}

.error img {
  float: right;
  margin-top: -5px;
}

.date-nav-bar {
  width: 100%;
  position: fixed;
  top: 55px;
  z-index: 95;
  display: flex;
  justify-content: space-evenly;
  background: #3AC16A;
}

.date-nav-bar-btn {
  width: 20%;
  color: #fff;
  border: none;
  text-align: center;
  background: none;
  padding: 10px 0;
  cursor: pointer;
  outline:none ;
  box-shadow: 0 1px 3px #c4c4c4;
}

.current-day-btn {
  border-bottom: 5px solid #969121;
  box-shadow: inset 0px -15px 8px rgba(0, 0, 0, 0.25);
}

/*General footer styling */
footer {
  width: 100%;
  background-color: #c4c4c4;
  font-size: 0.8rem;
}
.inner-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
footer p {
  color: #444;
}
.footer-right {
  display: flex;
}
.footer-right ul {
  list-style: none;
  width: 110px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 8px 0 0 5px;
  height: 26px;
}
.footer-right ul li {
  width: 25px;
  height: 25px;
  padding: 3px 0px;
  background-color: #777;
  border-radius: 4px;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}
.footer-right ul li:hover {
  background-color: #555;
}

.footer-right ul li:hover svg {
  transition: ease-in-out all 1s;
  transform: rotate(720deg);
}

@media only screen and (max-width: 430px) {
  .inner-div {
    display: block;
    text-align: center;
  }
  .footer-right {
    display: inline-flex;
  }
}
